.signup-container {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.signup-heading {
  font-size: 24px;
  margin-bottom: 15px;
  color: #169116;
}

.input-field {
  width: 100%;
  height: 36px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.signup-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  width: 100%;
}

@media (max-width: 600px) {
  /* Styles for smaller screens */
  .signup-container {
    padding: 15px;
  }
  
  .signup-heading {
    font-size: 20px;
  }

  .input-field {
    font-size: 14px;
  }

  .signup-button {
    font-size: 16px;
  }
}
